html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.top_left{
    background-color: #1a202c;
    height: 85px;
    min-width: 260px;
}

.top_right{
    background-color: white;
    width: 100%;
    height: 85px;
}

.middle{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
}

.mid_left{
    background-color: #2e3748;
    min-width: 260px;
    height: 100%;
}

.mid_right{
    background-color: #edf2f6;
    width: 100%;
    height: 100%;
    padding:15px;
    padding-top: 100px;
    box-sizing: border-box;
}

.item_wrap{
    height: auto;
    width: fit-content;
    position: relative;
}

.big_pic{
    height: 240px;
    width: 240px;
    border-radius: 7px;
}

.info_wrap{
    height: auto;
    width: 92%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -38px;
    border-radius: 7px;
    padding: 13px;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.info_rooms{
    font-family: 'poppinsMedium';
    font-size: .9rem;
    color: rgb(141, 141, 141);
    margin: 0;
    margin-bottom: 5px;
}

.item_title{
    font-family: 'poppinsMedium';
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

.item_price_wrap{
    display: flex;
    flex-direction: row;
}

.item_price{
    font-family: 'poppinsLight';
}

.priceweek{
    font-family: 'poppinsLight';
    color: grey;
    font-size: .9rem;
    
}

.info_stars{
    color: #3eb7b2;
    margin-top: -2px;
    font-size: 1.2rem;
    letter-spacing: .3px;
}

.stars_wrap{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}