@font-face{
    font-family: 'poppinsThin';
    src: url("../fonts/poppins/Poppins-Thin.ttf");
}

@font-face{
    font-family: 'poppinsExtraLight';
    src: url("../fonts/poppins/Poppins-ExtraLight.ttf");
}

@font-face{
    font-family: 'poppinsLight';
    src: url("../fonts/poppins/Poppins-Light.ttf");
}

@font-face{
    font-family: 'poppinsRegular';
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face{
    font-family: 'poppinsMedium';
    src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face{
    font-family: 'poppinsSemiBold';
    src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face{
    font-family: 'poppinsBold';
    src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face{
    font-family: 'poppinsExtraBold';
    src: url("../fonts/poppins/Poppins-ExtraBold.ttf");
}

@font-face{
    font-family: 'poppinsBlack';
    src: url("../fonts/poppins/Poppins-Black.ttf");
}

